table {
	margin: 0px auto;
	width: 60%;
}

table tr {

}

table tr th,table tr td {
	padding: 10px;
	text-align: center;
	border: 1px solid #592607;
}

table tr th {
	font-weight: bold;
	background-color: #592607;
	color: #fff;
}

table tr td {
	background-color: #e8c3ae;
}

table tr:hover td {
	background-color: #ba886b !important;
	color: #592607;
}

table tr:nth-child(odd) td {
	background-color: #db7c46;
}