
body{
	background-color: #DDEBEA;
	margin: 0px auto;
	font-family: 'Bangers', cursive;
}

.inner-wrapper{

	width: 960px;
	margin: 0px auto;

}

.menu {
	background-color: rgba(255,253,253,0.9);
	box-shadow: 0 20px 25px 0 rgba(247,250,251,0.5);
	height: 70px;
}

.menu .inner-wrapper {

	
}

.menu .inner-wrapper .name {
	font-size: 50px;
	margin: 5px 0px 0px 0px;
	color: #FF8607;
	padding: 5px 10px;
}

.menu .inner-wrapper .c-r {
	
}

.inner-wrapper a{
	display: inline-block;
	text-decoration: none;
	color: #EDFAFB;
}

.inner-wrapper a:hover{
	border-style: dotted;
}

.box{
	background-color: #F5F9F9;
	height: 60px;
	width: 960px;
	border-color: #F59536;
	border-style: dashed;
	border-width: 3px;
	padding: 10px 10px;
	margin: 10px 0px 10px 0px;
}

.box .heading{
	font-size: 35px;
	color: #F59536;
	padding: 0px 5px
}

.box .detail{
	font-size: 15px;
	text-align: right;
	color: #F59536;
	padding: 2px 10px
}